<!-- partials/apikey.html -->
<div class="row">
    <div class="large-12 columns">
        <!-- Explanation div -->
        <div>
            <h1 translate>APIKEY.HEADER</h1>
            <hr/>
            <p translate>APIKEY.EXPLANATION</p>
        </div>



        <div class="row">
            <div class="panel large-6 large-centered columns">
                <h5 class="subheader" translate>APIKEY.HEADER</h5>
                <hr/>

                <ol>
                    <li translate>APIKEY.INSTRUCTIONS.1</li>
                    <li translate>APIKEY.INSTRUCTIONS.2</li>
                    <li translate>APIKEY.INSTRUCTIONS.3</li>
                </ol>



                <form class="apikey-form" name="apikeyForm">
                    <div class="apikey-input">

                        <input class="error" type="text" ng-model="apikey" required/>
                        <small class="error" ng-show="invalidKeyError" translate=>APIKEY.INVALIDKEY</small>
                        <p class="text-center"><small translate>APIKEY.INSTRUCTIONS.SAVEINFO</small>
                            <small translate>APIKEY.INSTRUCTIONS.MORE</small></p>
                        <button type="button" class="button" ng-click="setKey()" ng-disabled="apikeyForm.$invalid"  translate>APIKEY.INSTRUCTIONS.SAVE</button>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div><br>
<div ui-view></div>
<hr/>
