<!-- partials/dailyweather.html -->
<h1>Daily weather (WORK IN PROGRESS)</h1>
<hr/>

<div class="large-12 columns">


    <div class="weather-download-phase1">
        <div class="row">
            <h3>1. Select weather station</h3>
        </div>

        <div class="row">

            <div class="large-8 columns">

                <div class="row">

                    <div class="large-12 columns">
                        <angucomplete-alt id="ex1"
                                          placeholder="Search stations"
                                          pause="100"
                                          selected-object="selectedStation"
                                          local-data="stations"
                                          search-fields="name_fi"
                                          title-field="name_fi"
                                          minlength="1"
                                          input-class="form-control form-control-small"/>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <div class="" ng-show="selectedStation">

                            <table>
                                <tbody>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{selectedStation.title}}</td>
                                    </tr>
                                    <tr>
                                        <th>Coordinates (wgs84)</th>
                                        <td>{{selectedStation.originalObject.lat}}, {{selectedStation.originalObject.lon}}</td>
                                    </tr>
                                    <tr>
                                        <th>FMI ID</th>
                                        <td>{{selectedStation.originalObject.fmisid}}</td>
                                    </tr>
                                    <tr>
                                        <th>WMO</th>
                                        <td>{{selectedStation.originalObject.wmo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="large-6 columns">
                        <ui-gmap-google-map ng-if="selectedStation" center='map.center' zoom='map.zoom'>
                            <ui-gmap-marker coords="stationMarker.coords" idkey="stationMarker.id">
                            </ui-gmap-marker>

                        </ui-gmap-google-map>
                    </div>

                </div>
            </div>

            <div class="large-4 columns panel radius">
                <p>Begin by finding the weather station you are interested in.</p>
            </div>
        </div>
    </div>

    <div class="weather-download-phase1">
        <div class="row">
            <h3>2. Select dataset</h3>
        </div>
        <div class="row">
            <div class="large-8 columns">
                <!-- Tähän datasettilistaus-->
                <form name="datasetsform">
                    <div class="radio-buttons" ng-repeat="ds in selectedStation.originalObject.datasets">
                        <input  type="radio" name="datasets" ng-model="$parent.selectedDataset" ng-click="setDateLimits()" ng-value="ds" id="{{ds.name}}"><label for="{{ds.name}}">{{ds.name}}</label>
                    </div>
                </form>

            </div>

                <div class="large-4 columns panel radius">
                    <p>Each station has different weather observation datasets varying by the interval and timespan. Please select the one you are interested in.</p>
                </div>
            </div>
    </div>

    <div class="weather-download-phase1">
        <div class="row">
            <h3>3. Select timespan of the data</h3>
            <p> Available data range: {{selectedDataset.begin | date : 'dd.MM.yyyy'}} - {{selectedDataset.end | date : 'dd.MM.yyyy'}} </p>
        </div>
        <div class="row">
            <div class="large-8 columns">
                <!-- Tähän timespan kontrollit-->
                <form novalidate angular-validator name="datarangeform">
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Starting date</label>
                            <datepicker date-min-limit="{{selectedDataset.begin}}" date-max-limit="{{selectedDataset.end}}" date-set="{{defaultDate}}" date-format="dd.MM.yyyy">
                                <input ng-model="dateRange.begin"
                                       class="error"
                                       type="text"
                                       name="begindate"
                                       placeholder="{{selectedDataset.begin | date : 'dd.MM.yyyy'}}"
                                       validator="validateDates(dateRange)"/>
                                <small class="error" ng-show="dateRange.error.begin">{{dateRange.error.begin}} </small>
                            </datepicker>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <label>Ending date</label>

                            <datepicker date-min-limit="{{selectedDataset.begin}}" date-max-limit="{{selectedDataset.end}}" date-set="{{defaultDate}}" date-format="dd.MM.yyyy">
                                <input ng-model="dateRange.end"
                                       class="error"
                                       type="text"
                                       name="enddate"
                                       placeholder="{{selectedDataset.end | date : 'dd.MM.yyyy'}}"
                                       validator="validateDates(dateRange)"/>
                                <small class="error" ng-show="dateRange.error.end">{{dateRange.error.end}} </small>
                            </datepicker>

                        </div>
                    </div>

                </form>
            </div>

            <div class="large-4 columns panel radius">
                <p>Specify the time span of the data you are interested in. It is faster to download smaller data sets. Note that small data interval such as with real time obervations might cause a large data set.</p>
            </div>
        </div>
    </div>

    <div class="weather-download-phase1">
        <div class="row">
            <h3>4. Retrieve the data</h3>
        </div>
        <div class="row">
            <div class="large-8 columns">
                <!-- Tähän timespan kontrollit-->
                <button>Get the data!</button>
            </div>

            <div class="large-4 columns panel radius">
                <p>After you are satisfied with settings, click the button to download the data set. It might take a while to complete so be patient!</p>
            </div>
        </div>
    </div>
        <!--
        <div class="" ng-show="selectedStation">
            You selected <span class="bold-span">{{selectedStation.title}}</span>
        </div>
        <a ui-sref="dailyWeather.list">Show List</a>
        <div ui-view></div>
        <hr/>
        -->

</div>
